extension/buildSettings.js
extension/manifest.json
extension/**/*.js.map
extension/vendor/
# Specific jsx build files:
extension/popup/popup.js
# Build files:
/build/
node_modules
npm-debug.log
web-ext-artifacts
.DS_Store
/Profile*
*.bundle.js
package-lock.json
/gh-pages
